---
pageable: true
per_page: 10
---
%article#news
  %h1 Event News

  %dl
    - blog.articles.each do |article|
      %dt
        = link_to article.title, article.url
        %time= article.date.strftime('%b %e %Y')
      %dd= article.body
