body
  background-color: #900
  color: #444
  font-family: 'arial', sans-serif
  font-size: 18px
  margin: 0
  padding: 0

#page
  background-color: #fff
  margin: 20px auto
  padding: 20px
  width: 500px

a, a:visited
  color: #444
a:active, a:hover
  color: #000

header
  p
    color: #777
  h1
    font-family: 'georgia', serif
    font-size: 48px
    margin-bottom: 20px
    margin-top: 0px
    text-align: center

article
  dl
    margin: 0
    padding: 0
  dt
    font-size: 30px
    margin-bottom: 5px
    margin-top: 20px
  dd
    margin: 0
    color: #777
  dd a, dd a:visited
    color: #777

footer
  margin-top: 30px
  overflow: hidden
  p
    font-size: 14px
    margin: 0
  #byLine
    font-style: italic
    float: right
