body
  background-color: #900
  color: #444
  font-family: 'arial', sans-serif
  font-size: 18px
  margin: 0
  padding: 0

#page
  background-color: #fff
  margin: 20px auto
  padding: 20px
  width: 500px

a, a:visited
  color: #444
a:active, a:hover
  color: #000

header
  h1
    font-family: 'georgia', serif
    font-size: 48px
    margin-bottom: 20px
    margin-top: 0px
    text-align: center
  p
    color: #777
    line-height: 28px

article
  dl
    margin: 0
    padding: 0
  dt
    margin-bottom: 5px
  dd
    color: #777
    line-height: 28px
    margin: 0
  dd a, dd a:visited
    color: #777

article#home
  nav
    ul
      list-style: none
      margin: 0px auto
      overflow: hidden
      padding: 0
      width: 175px
      li
        float: left
        font-size: 22px
        padding: 7px 14px
        &.active
          background-color: #ccc

  dl.events
    display: none
    &.active
      display: block
    dt
      font-size: 30px
      margin-top: 20px

article#news
  h1
    font-size: 28px
    text-align: center
  dt
    font-size: 22px
    margin-top: 25px
    time
      color: #777
      display: block
      font-style: italic
      font-size: 14px
      margin-top: 5px

footer
  margin-top: 30px
  overflow: hidden
  p
    font-size: 14px
    margin: 0
  #byLine
    font-style: italic
    float: right
