body
  background-color: #900
  color: #444
  font-family: 'arial', sans-serif
  font-size: 18px

h1
  font-family: 'georgia', serif
  font-size: 38px
  text-align: center

dl
  margin: 0
  padding: 0

dt
  font-size: 24px
  margin-top: 20px

dd
  margin: 0

a, a:visited
  color: #444

a:active, a:hover
  color: #000

#page
  background-color: #fff
  margin: 0 auto
  padding: 10px
  width: 500px

footer
  overflow: hidden

footer p
  font-size: 14px

footer #byLine
  font-style: italic
  float: right
