%dt
  = link_to event.name, event.url

  - if event.reg_phrase?
    .reg{ data: { date: event.reg_date, phrase: event.reg_phrase } }

  - if event.cfp_phrase?
    .cfp{ data: { date: event.cfp_date, phrase: event.cfp_phrase } }

%dd
  %ul
    %li>= event.dates
    %li>= event.location
    %li>= link_to "@#{event.twitter}", "https://twitter.com/#{event.twitter}"
