%article#error
  %h1 Welp, that sucks
  :markdown
    There was a problem finding the page you requested - sorry about that. Please feel free to [open an issue](https://github.com/ruby-conferences/ruby-conferences-site/issues) about this problem, but you'll probably want to head to the [home page](/).
