%article#home
  %nav
    %ul
      %li#current.active
        %a(href="#") Current
      %li#tba
        %a(href="#") TBA
  %dl.current.events.active
    - data.current.each do |event|
      = partial :event, locals: { event: event }
  %dl.tba.events
    - data.tba.each do |event|
      = partial :event, locals: { event: event }
